# =========================
# BUILD OUTPUT (C/C++/eBPF)
# =========================

# Object files
*.o
*.ko
*.obj
*.elf
*.out
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe

# Kernel / eBPF artifacts
*.mod*
*.cmd
.tmp_versions/
Module.symvers
modules.order

# Precompiled headers
*.gch
*.pch

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# =========================
# BINARIES (IMPORTANT FIX)
# =========================

bin/
*/bin/
**/bin/

# specific project binaries (your case)
user/register_vm
pvsched-host/bin/
pvsched-host/**/*.loader
pvsched-host/**/*.skel.h

# =========================
# VM / images
# =========================
*.qcow2
scripts/*.qcow2
# VM image artifacts
*.qcow2
*.iso

# Generated BPF headers
vmlinux.h
pvsched-ebpf/host/h2g_msg_timer_loader

#image files
scripts/*.qcow2


